.date-picker {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 90%;
  width: 45rem;
  border-radius: 16px;
  border: 1px solid var(--grey-200, #cbd4e6);
  background-color: #fff;
  transition: 0.3s;
  z-index: 2;
  /* elevation / medium */
  box-shadow: 0px 12px 24px 0px rgba(27, 59, 119, 0.05),
    0px 24px 60px 0px rgba(6, 47, 125, 0.05),
    0px 2px 4px 0px rgba(7, 4, 146, 0.1);
}

.date-picker-content {
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem;
  align-items: center;
  width: 100%;
  height: 6rem;
  border-bottom: 1px solid var(--grey-200, #cbd4e6);
}

.radio_inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.radios {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

.radios input {
  width: 16px;
  height: 16px;
}

.radios p {
  margin: 0;
  color: var(--grey-600, #6e7491);
  font-family: Nunito Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.data_pickerd_date_container {
  display: flex;
  gap: 0.8rem;
}

.date_data {
  display: flex;
  justify-content: center;
  align-items: center;
}

.date_data p {
  color: var(--grey-800, #36374a);
  font-family: Nunito Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.data_pickerd_date {
  display: flex;
  padding: 0.4rem 0rem 0.6rem 0.6rem;
  width: 18rem;
  align-items: flex-end;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  border: 2px solid var(--Purple-Blue, #605dec);
  background: var(--True-White, #fff);
}

.data_pickerd_date_container > button {
  border: none;
  border-radius: 8px;
  padding: 12px 26px;
  color: white;
  transition: 0.2s;
  background: var(--Purple-Blue, #231fe0);
}

.data_pickerd_date_container > button:hover {
    background-color: #4542e4;
}

.Round_trip {
    position: absolute;
    top: 10rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
}