.flighFinder_main_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 2em;
}

.flighFinder_main_container p {
  margin: 0;
}

.flighFinder_container {
  width: 90%;
  height: 120vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 4rem;
}

.flighFinder_info {
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.flighFinder_search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0em 0.2em;
  width: 56vw;
  height: 55px;
  border-radius: 4px;
  border: 1px solid var(--grey-200, #cbd4e6);
  background: #fff;
  box-shadow: 0px 12px 8px 0px rgba(0, 0, 0, 0.02),
    0px 2px 2px 0px rgba(28, 5, 77, 0.05);
}

.flighFinder_search li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  border-right: 1px solid;
  width: 12.55vw;
  height: inherit;
  padding-left: 1vw;
  color: var(--grey-400, #7c8db0);
  /* Body Large */
  font-family: Nunito Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.flighFinder_search li:nth-child(3) {
  width: 13vw;
}

.flighFinder_search li:nth-child(4) {
  border: none;
}

.flighFinder_search > button {
  display: flex;
  height: 48px;
  padding: 12px 20.5px;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  border: none;
  background: var(--Purple-Blue, #605dec);
  color: var(--grey-100, #fafafa);
  font-family: Nunito Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.flighFinder_search_filter {
  /* width: 40vw; */
  height: 53px;
}

.flighFinded {
  height: 747px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.flighs_finded_data {
  position: relative;
  height: 747px;
  width: 63%;
}

.flighs_finded_data > p {
  color: var(--grey-600, #6e7491);
  font-family: Nunito Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-left: 14px;
}

.flighs_finded_data > p > span {
  color: var(--Purple-Blue, #605dec);
  font-family: Nunito Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.flighs_finded_pricing {
  display: flex;
  justify-content: center;
  padding-top: 12px;
  border: 1px solid var(--grey-200, #cbd4e6);
  height: 747px;
  width: 33%;
}

.flight_data_container {
  border-radius: 12px;
  border: 1px solid var(--Purple-Extra-Light, #dad8f0);
  height: 35rem;
  border-radius: 12px;
  overflow-y: scroll;
}

.flight_data_container::-webkit-scrollbar {
  width: 8px;
}


.flight_data_container::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 50px;
}

.flight_data_container::-webkit-scrollbar-thumb {
  border-radius: 16px;
  background-color: #cbd4e6;
}


.flight-data {
  height: 10vh;
  display: flex;
  border-bottom: 1px solid var(--Purple-White, #F6F6FE);
  background: var(--True-White, #FFF);
  justify-content: space-around;
  gap: 3vw;
  align-items: flex-start;
  padding: 2vh 0vh;
}

.flight-data div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-sec {
  display: flex;
  gap: 1.5rem;
}

.logo-sec-desc {
  display: flex;
  flex-direction: column;
}

/* .flight-data div:nth-child(2) {

}

.flight-data div:nth-child(3) {

}

.flight-data div:nth-child(4) {

} */

#airline_logo {
  height: 45px;
  width: 55px;
}

.flighFinder_search_filter {
  display: flex;
  justify-content: first baseline;
  align-items: center;
  gap: 16px;
}

.filter_btns {
  display: flex;
}

.filter_btns > p {
  margin: 0;
}

.filter_btns:nth-child(1) {
  display: flex;
  padding: 8px 12px 8px 16px;
  align-items: center;
  gap: 4px;
  border-radius: 4px;
  border: 1px solid var(--grey-200, #cbd4e6);
  background: var(--True-White, #fff);
  color: var(--grey-900, #27273f);
  /* Body Default */
  font-family: Nunito Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.filter_btns:nth-child(2) {
  display: flex;
  padding: 8px 12px 8px 16px;
  align-items: center;
  gap: 4px;
  border-radius: 4px;
  border: 1px solid var(--grey-200, #cbd4e6);
  background: var(--True-White, #fff);
  color: var(--grey-900, #27273f);
  /* Body Default */
  font-family: Nunito Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.filter_btns:nth-child(3) {
  display: flex;
  padding: 8px 12px 8px 16px;
  align-items: center;
  gap: 4px;
  border-radius: 4px;
  border: 1px solid var(--grey-200, #cbd4e6);
  background: var(--True-White, #fff);
  color: var(--grey-900, #27273f);
  /* Body Default */
  font-family: Nunito Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.filter_btns:nth-child(4) {
  display: flex;
  padding: 8px 12px 8px 16px;
  align-items: center;
  gap: 4px;
  border-radius: 4px;
  border: 1px solid var(--grey-200, #cbd4e6);
  background: var(--True-White, #fff);
  color: var(--grey-900, #27273f);
  /* Body Default */
  font-family: Nunito Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.filter_btns:nth-child(5) {
  display: flex;
  padding: 8px 12px 8px 16px;
  align-items: center;
  gap: 4px;
  border-radius: 4px;
  border: 1px solid var(--grey-200, #cbd4e6);
  background: var(--True-White, #fff);
  color: var(--grey-900, #27273f);
  /* Body Default */
  font-family: Nunito Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.filter_btns:nth-child(6) {
  display: flex;
  padding: 8px 12px 8px 16px;
  align-items: center;
  gap: 4px;
  border-radius: 4px;
  border: 1px solid var(--grey-200, #cbd4e6);
  background: var(--True-White, #fff);
  color: var(--grey-900, #27273f);
  /* Body Default */
  font-family: Nunito Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* * {
  outline: 1px red solid;
} */

.flight-data:hover{
  opacity: 0.7;
  cursor: pointer;
}
#flightfinder-search{
  width: 79%;
}
.filter{
  display: flex;
  margin-top: -3rem;
}
.filter select{
  margin-left: 16px;
  text-align: center;
  padding: 2px 10px;
  border: none;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.2rem;
  border-radius: 4px;
  border: 1px solid #eee;
}
.filter select:focus{
outline: none;
}

.filter select option{
  width: 100px;
  text-align: center;
  padding: 2px 10px;
  border: none;

}
.filter select:focus{
outline: none;
}

.fillform{
  padding: 5px 10px;
  margin-top: 10px;
  border: none;
  color: #F6F6FE;
  background-color: #605dec;
  border-radius: 4px;
}