@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}
.form1-inputs input {
  display: flex;
  width: 200px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-right: 10px;
  gap: 4px;
  border-radius: 4px;
  border: 1px solid #a1b0cc;
  background: #fff;
  color: #7c8db0;
  font-family: Nunito Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.from2 input {
  display: flex;
  width: 200px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-right: 10px;
  gap: 4px;
  border-radius: 4px;
  border: 1px solid #a1b0cc;
  background: #fff;
  color: #7c8db0;
  font-family: Nunito Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form4 input {
  display: flex;
  width: 200px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-right: 10px;
  gap: 4px;
  border-radius: 4px;
  border: 1px solid #a1b0cc;
  background: #fff;
  color: #7c8db0;
  font-family: Nunito Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

input[type="text"] {
  color: #141414; /* Change to your desired text color */
}

input:focus {
  outline: none !important;
}

.passenger_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 13rem;
}

.passenger-main-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 85%;
  /* background-color: #a1b0cc; */
}

.passenger-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2.5rem;
  /* background-color: #a1b0cc; */
  width: 60%;
}

.required-info {
  width: 86%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#pas_inf {
  color: #605dec;
  font-family: "Nunito Sans", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.required-info p {
  color: #7c8db0;
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.from1 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.from1 > p {
  color: #6e7491;
  font-family: Nunito Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.form1-inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.form1-inputs > #flexBasis {
  display: flex;
  flex-basis: 32%;
  gap: 10px;
  padding-left: 40px;
  padding-right: 40px;
}

.from2 {
  display: grid;
  grid-template-columns: auto auto;
  width: 0%;
  gap: 1.25rem;
}

.from2 > input {
  width: 300px;
}

.form3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
}

.form3 > p {
  color: #6e7491;
  /* Header H4 */
  font-family: Nunito Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.check {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  gap: 1rem;
}

.check > input {
  display: flex;
  width: 16px;
  height: 16px;
  justify-content: center;
  align-items: center;
}

.check > p {
  color: var(--grey-600, #6e7491);
  font-family: Nunito Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form4 {
  display: grid;
  grid-template-columns: auto auto;
  width: 0%;
  gap: 1.25rem;
}

.form4 > input {
  width: 300px;
}

.bag-info {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.bag-info > #title {
  color: var(--grey-600, #6e7491);
  /* Header H4 */
  font-family: Nunito Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.bag-info > #desc {
  color: var(--grey-400, #7c8db0);
  /* Body Large */
  font-family: Nunito Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 88%;
  padding-bottom: 2rem;
}

.bag-info > #desc > span {
  color: var(--Purple-Blue, #605dec);
  /* Body Large */
  font-family: Nunito Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.bag-info-checked {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15rem;
}

.first {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.first > p {
  color: var(--grey-600, #6e7491);
  /* Header H4 */
  font-family: Nunito Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.second {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 1rem;
}

.second > .inc-btns > p {
  color: var(--grey-600, #6e7491);
  font-family: Nunito Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#title2 {
  color: var(--grey-400, #7c8db0);

  /* Header H4 */
  font-family: Nunito Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.inc-btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.inc-btns > svg {
  display: flex;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  background: var(--grey-100, #f1fbff);
}

.inc-btns button {
    border: none;
    background-color: white;
    cursor: pointer;
}

.choice-btns {
  display: flex;
  justify-content: flex-start;
  gap: 1.5rem;
}

.choice-btns > button {
  height: 48px;
  padding: 12px 20px;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  border: 1px solid var(--Purple-Blue, #605dec);
  color: var(--Purple-Blue, #605dec);
  background-color: white;
  font-family: Nunito Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.choice-btns #larger {
  display: flex;
  height: 48px;
  padding: 12px 20px;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  border: 1px solid var(--grey-400, #7c8db0);
  background: rgba(203, 212, 230, 0.3);
}

.trips {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 8.5rem;
}

.informatios {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 0.5rem;
}

.trip-info {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  border-radius: 12px;
  border: 1px solid var(--Purple-Extra-Light, #e9e8fc);
  background: var(--True-White, #fff);
}

.aller {
  display: flex;
  width: 368px;
  padding: 8px;
  align-items: flex-start;
  justify-content: center;
  gap: 3rem;
  border-bottom: 1px solid rgb(214, 214, 214);
}

.aller_container {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.aller .aller_container img {
  height: 50px;
  width: 60px;
}

.time p {
  text-align: end;
}

.img_title > p {
  color: var(--grey-900, #27273f);
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: stretch;
}

.img_title > .ref {
  color: var(--grey-400, #7c8db0);
  font-family: Nunito Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: stretch;
}

.time > p {
  color: var(--grey-900, #27273f);
  text-align: right;
  /* Body Default */
  font-family: Nunito Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  align-self: stretch;
}

.time > .ref {
  color: var(--grey-400, #7c8db0);
  font-family: Nunito Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: stretch;
}

.trip_fees {
  display: flex;
}

.total-cost {
  display: flex;
  flex-direction: column;
  padding: 16px;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 15px;
  color: var(--grey-900, #27273f);
  text-align: right;
  font-family: Nunito Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.prices {
  display: flex;
  flex-direction: column;
  padding: 16px;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 15px;
  color: var(--grey-900, #27273f);
  text-align: right;
  font-family: Nunito Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.informatios > button {
  display: inline-flex;
  height: 48px;
  padding: 12px 20px;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--grey-400, #7c8db0);
  background: rgba(203, 212, 230, 0.3);
  color: var(--grey-400, #7c8db0);
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 1277px) {
  .container {
    padding: 2rem;
  }

  .main-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .passenger-form {
    width: 100%;
  }

  .trips {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
    top: 0px;
  }

  .informatios {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    top: 10rem;
    gap: 0.5rem;
  }

  .main-container {
    display: flex;
    align-items: flex-start;
    width: 85%;
  }
}

@media (max-width: 820px) {
  .main-container {
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }

  .passenger-form {
    width: 100%;
  }

  .from2 {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .form1-inputs > #flexBasis {
    flex-basis: 60%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .trips {
    top: 0;
  }
}

@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }

  .passenger-form {
    width: 100%;
  }

  .from2 {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .form1-inputs > #flexBasis {
    flex-basis: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .trips {
    top: 0;
  }
}

@media (max-width: 1024px) {
  .main-container {
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }

  .passenger-form {
    width: 100%;
  }

  .from2 {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .form1-inputs > #flexBasis {
    flex-basis: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .trips {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 50%;
  }
}

@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 5rem;
  }

  .passenger-form {
    width: 100%;
  }

  .from2 {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .form1-inputs > #flexBasis {
    flex-basis: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .trips {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 50%;
  }

  #illustration {
    display: none;
  }
}
