/* App.css */
/* Common styles for route transitions */
.transition-group {
    position: relative;
  }
  
  /* Fade in animation for entering elements */
  .fade-enter {
    opacity: 0;
    transform: translateY(10px);
  }
  
  .fade-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 400ms, transform 400ms;
  }
  
  /* Fade out animation for exiting elements */
  .fade-exit {
    opacity: 1;
    transform: translateY(0);
  }
  
  .fade-exit-active {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 400ms, transform 400ms;
  }
  