.container-success{
    background-color:white;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 50vh;
    /* justify-content: center; */
    align-items: center;
    gap: 4rem;
}
.paragraph-success{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    /* width: 400px; */
    /* background-color: red; */
}
.thank{
    color: green;
    font-size: 50px;
}
.pay{
font-size: 17px;
}
.you-will{
   opacity: 0.5;
   font-size: 18px;
}
.btn-success{
    padding: 1rem;
    width: 10rem;
    border: none;
    outline: none;
    background-color: green;
    color: white;
    border-radius: 30px ;
    font-size: 20px;
    cursor: pointer;
}
.btn-success:hover{
    background-color: white;
    color: green;
}
.btn-success-denied{
    padding: 1rem;
    width: 10rem;
    border: none;
    outline: none;
    background-color: green;
    color: white;
    border-radius: 30px ;
    font-size: 20px;
    cursor: pointer;
}
.btn-success-denied:hover{
background-color: white;
color: white
}